html{
    background-color: #EEEEEE;
}
h1,footer{
    color:#222831;
    font-family: "Playwrite IN", serif;
}
html{
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 60%;
     left: 20%;
        right: 20%;
    gap: 1rem;
    margin-top: 7rem;
}

a{
    padding: 3rem;
    background-color: #00ADB5;
    border: 1px solid #00ADB5;
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color:#393E46;
    font-weight: bold;
    font-size: 1rem;
    transition: box-shadow 0.2s;
}
a:hover{
    box-shadow: 5px 5px 10px black;
}
a:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}


.container2{
    position: relative;
    margin-top: 3rem;
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: "Playwrite IN", serif;
}

@media(max-width:800px){
   
    .container{
        flex-direction: column;
        width: 80%;
        left: 10%;
        right: 10%;
        margin-top: 3rem;
        text-align: center;
    }

}